# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependencies
go.sum

# Any chicken scratches file
*test*
*tbc*

# Any keys
*key*
*pub*

# Any misc files
*.png

# Any secrets
*.yaml